body{
    margin: 0;
    img{
        width: 100%;
    }
}
nav.navbar{
    background-color: rgb(178,3,10) !important;
}
nav.navbar a {
    color: white !important;
    cursor: pointer;
    &:hover{
        text-decoration: underline;
    }
}
header .maincontainer1{
    background-color: rgb(212, 129, 102);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    div{
        padding: 5% 7%;
        img{
            width: 100%;
        
        }
    }
    .third{
        text-align: center;
        color: white;
        background-color: rgb(178,3,10);
        h2{
            padding-bottom: 10%;
        }
    }
    .first{
        background-image: url("../img/capture1.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 422px;
        a{
            text-decoration: none;
            color:white;
            margin-top: 100px;
            &:hover{
                text-decoration: underline;
            }
        }
    @media  screen and (max-width:700px) {
        a{
            margin-top: 200px;
        }
    }
    }
    .second{
        padding: 0;
        border-radius: 0;
    }
    .fouth{
        background-image: url("../img/C9.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
}
main{
    padding: 10% 0% 0%;
    color: white;
    margin: auto;
    background-color: rgb(22, 22, 22);
    .title{
        text-align: center;
        margin-bottom: 5%;
        font-weight: bold;
        text-shadow: 4px 4px rgb(178,3,10);
    }
    .containermain{
        display: flex;
        justify-content: space-evenly;
        font-size: 18px;
        margin: auto;
        width: 80%;
        padding-bottom: 6%;
        div{
            padding: 0% 6%;
            a{
                text-decoration: none;
                color: rgb(55, 58, 54);
                padding: 13px 20px;
                border: 1px solid white;
                display: inline;
                color: white;
                &:hover{
                    background-color: rgb(55, 58, 54);
                    color: white;
                }
            }
            p{
                margin-bottom: 35px;
                }
        }
    @media  screen and (max-width:700px) {
        flex-direction: column;

    }
    }
    .img {
        margin: auto;
        width: 40%;
        text-align: center;
        img{
            
        }
        @media  screen and (max-width:700px) {
            width: 100%;
    
        }    
    }
    
}
main div.relative {
    background-color: black;
    margin: 5% auto;
    height: 600px;
    position: relative;
    .img {
        width: 100%;
        height: 600px;
        opacity: 0.2;
      }
    .absolute{
        position: absolute;
        top: 0;
        width: 50%;
        left: 25%;
        right: 25%;
        h2{
            text-align: center;
            width: 90%;
            margin: 8% auto;
            font-size: 70px;
            i img{
                width: 10%;
            }
        }
        p{
            text-align: center;
            margin: 5% auto;
        }
        a{
            text-decoration: none;
            color: white;
            border: 1px solid white;
            padding: 12px 20px;
            display: block;
            text-align: center;
            margin: 0% auto;
            width: 40%;
            &:hover{
                background-color: rgb(66, 65, 65);
                border: 1px solid rgb(66, 65, 65);
            }
        }
    @media  screen and (max-width:1000px) {
            width: 80%;
            left: 10%;
            p{
                padding: 0 20px;
                margin: 8% auto;
            }
        }  
    @media  screen and (max-width:700px) {
            width: 100%;
            left: 0;
            p{
                padding: 0 20px;
                margin: 8% auto;
            }
        } 
    }  
  }
main .maincontainer2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    div.first{
        text-align: center;
        padding: 0% 7% 4%;
        p{
            padding: 6% 0%;
        }
        h2{
            font-size: 50px;
            font-weight: bold;
        }
        a{
            text-decoration: none;
            background-color: green;
            color: white;
            padding: 13px 100px;
            display: inline;
            border-radius: 10px;
            &:hover{
                background-color: rgb(26, 102, 2);
            }
        }
    @media screen and (max-width:1100px) {
        padding-bottom: 10%;
    }
    }
    div.second{
        padding: 0% 7% 10%;
        h2{
            padding-bottom: 3%;
            text-align: center;
        }
    }
    .third{
        padding-right: 7%;
    @media screen and (max-width:700px) {
        padding-right: 0;  
    }
    }
    div.fouth{
        padding: 4% 7%;
        a{ text-decoration: none;
            background-color: rgb(26, 28, 145);
            text-align: center;
            color: white;
            padding: 13px 7%;
            border-radius: 10px;
            &:hover{
                background-color: rgb(24, 7, 175);
            }

        }
        p{
            padding: 0% 0 2%;
        }
    }
}
code.details{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
}
footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 3% 0%;
    font-size: 20px;
    .icons a{
        cursor: pointer;
        padding: 0% 2%;
        img{
            width: 3%;
    } 
    }
}

  
  
